---
import BaseLayout from "./BaseLayout.astro";
const { content, headings } = Astro.props;

type HeadingNested = {
  text: string;
  slug: string;
  children: HeadingNested[];
};

let headings_nested: HeadingNested[] = [];
let lastItem;
let newItem: HeadingNested | undefined;

headings.forEach(({ depth, slug, text }) => {
  if (depth === 2) {
    newItem = { text, slug, children: [] };
    headings_nested.push(newItem);
  } else if (depth === 3 && lastItem) {
    lastItem.children.push({ text, slug });
  }

  if (newItem) {
    lastItem = newItem;
  }
});
---

<BaseLayout pageTitle={content.data.title}>
  <p>Written by {content.data.author}</p>
  <div class="tags">
    {
      content.data.tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>

  
    <div id="test"><slot /></div>
    <aside id="toctest">
      <h2>On this page</h2>
      <ul>
        {
          headings_nested.map((heading) =>
            heading.children.length > 0 ? (
              <li>
                <a href={`/posts/${content.slug}/#` + heading.slug}>
                  {heading.text}
                </a>
                <ul>
                  {heading.children.map((child) => (
                    <li class="depth2">
                      <a href={`/posts/${content.slug}/#` + child.slug}>
                        {child.text}
                      </a>
                    </li>
                  ))}
                </ul>
              </li>
            ) : (
              <li>
                <a href={`/posts/${content.slug}/#` + heading.slug}>
                  {heading.text}
                </a>
              </li>
            )
          )
        }
      </ul>
    </aside>

</BaseLayout>

<style>
  .container {
    display: flex;
    justify-content: space-between;
    width: 80%; /* adjust as needed */
    margin: 0 auto;
  }
  #toctest {
    position: fixed;
    left: 75%;
    top: 20%;
  }
  #test {
    max-width: 42rem;
    font-size: 20px;
    line-height: 25px;
    margin: 0 auto;
  }
  ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }
  .depth2 {
    padding-left: 20px;
  }
  li {
    margin-top: 5px;
  }

  a {
    color: #00539f;
    text-decoration: none;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
